body {
  padding: 50px 0;
}

.container {
  border: 3px solid yellow;
  position: absolute;
  width: 231px;
  height: 230px;
  margin-left: 50px;
  margin-top: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  -o-user-select: none;
  user-select: none;

}


.background-pic{
background-image: url("zdrapka.jpg");
width: 339px;
height: 500px;
margin: 0 auto;

}

table{
border-collapse: collapse;
}
td{
text-align: center;
width: 20px;
height: 18px;
border: 1px solid black;
border-collapse: collapse;

}

.canvas {
  position: absolute;
  top: 0;
  opacity: 0.5;
}

.form {
  padding: 0;